<%- include("partials/header.ejs") %>

  <div class="container justify-content-center align-items-center">
    <p>
      Welcome to my blog! This is a space where I share my thoughts, experiences, and insights on various topics that
      interest me. From web development and programming to personal reflections, you'll find a variety of posts designed
      to inspire, inform, and entertain.

      Feel free to explore, leave comments, and connect with me. I hope you enjoy the content as much as I enjoy
      creating it!
    </p>
  </div>

  </main>
  </body>

  </html>
