<%- include("partials/header.ejs") %>
<%- include("partials/alerts.ejs") %>

  <div class="container">
    <form action="/delete" method="POST">
      <div class="input-group mb-3 d-inline-flex">
        <input type="number" class="form-control" name="number" placeholder="Post's Index" aria-label="Post's Index"
          aria-describedby="button-addon2">
        <button class="btn btn-danger" type="delete" id="button-addon2">Delete</button>
      </div>
    </form>

  </div>
  </main>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const alertBox = document.querySelector(".alert");

      if (alertBox) {
        alertBox.classList.add("alert-danger");
        setTimeout(() => {
          alertBox.classList.remove("alert-danger");
          alertBox.style.transition = "opacity 0.5s ease";
          alertBox.style.opacity = "0";
          setTimeout(() => {
            alertBox.remove();
          }, 500);
        }, 3000);
      }
    });
  </script>


  </body>

  </html>
